<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title>组件</title>

    <link href="../../libs/bootstrap-3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <!-- 引入自己的样式表，必须在bootstrap之后 -->
    <link href="component.css" rel="stylesheet">

    <script src="../../libs/jquery-2.1.4/jquery-2.1.4.min.js"></script>
    <script src="../../libs/bootstrap-3.3.5/js/bootstrap.min.js"></script>
</head>
<body role="document">

    <div>

    </div>
</body>
</html>